body {
    font-family: "Verdana", serif;
    font-size: 16px;
    margin: 0.625em auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
}

footer {
    padding: 0.625em;
    height: 3em;
    display: flex;
    border-top: 0.0625em solid #1c1f23;
    justify-content: space-between;
}

header .buttons {
    display: -webkit-flex;
    align-items: center;
}

header .buttons a {
    margin-right: 1em;
    text-decoration: none;
    color: #2e3439;
}

header .buttons a:hover {
    color: #595c5f;
}

header .logo img {
    max-width: 20%;
}

header .buttons img {
    width: 3em;
    height: 3em;
}

footer .buttons_info a {
    margin-right: 1em;
    text-decoration: none;
    color: #2e3439;
}

footer .buttons_info a:hover {
    color: #535658;
}

.content {
    flex-grow: 1;
    margin-left: 10em;
    margin-right: 10em;
}

.content .table_contacts img{
    max-width: 70%;
}

.content .table_contacts td {
    width: 2em;
}

.menu{
    background-color: rgba(157, 180, 181, 0.2);
    border-top: 0.0625em solid #1c1f23;
    border-bottom: 0.0625em solid #1c1f23;
}

.menu_list {
    list-style-type: none;
    display: flex;
}

.menu_list li {
     flex-basis: auto;
     flex-grow: 1;
     display: inline-block;
 }

.menu_list li a {
     display: block;
     text-decoration: none;
     color: #1c1f23;
 }

.menu_list li a:hover {
    color: #535658;
}

header div.subheader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.catalog a{
    text-decoration: none;
    color: #1c1f23;
}

.catalog a:hover{
    color: #535658;
}